@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family:  'Poppins', sans-serif;
}

header{
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  margin-bottom: 2rem;
}

.header-img{
  width: 100%;
  position: absolute;
  top: -20vh;
  z-index: -1;
}

.header-img img{
  width: 100%;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  margin-left: 180px;
}

.nav-bar{
  list-style: none;
  display: flex;
  gap: 4rem;
  font-weight: lighter;
  margin-right: 100px;
}

.head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7vh;
  align-items: center;
}

.logo{
  width: 260px;
}

.head h2{
  font-size: 2.1rem;
  color: whitesmoke;
  font-weight: 400;
}

.search{
  display: flex;
  align-items: center;
  width: 55vw;
  border-radius: 10px;
  background: white;
  padding: 4px 5px;
}

.search .search-item{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search .search-item p{
  color: grey;
  border-right: 1px solid grey;
  font-size: 15px;
  margin-right: 15px;
  margin: 10px;
}

.search .search-item input{
  outline: none;
  border: none;
  width: 200%;
  padding-left: 10px;
  font-size: 15px;
}

.search .search-item:first-child{
  color: #F05454;
  width: 30%;
}

.search .search-item:last-child{
  color: grey;
  width: 70%;
}

                          /* Section-1  */

.section-1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

 .section-1 .section-1-items{
  position: relative;
  width: 20rem;
  margin: 3px 25px;
  overflow: hidden;
  border-radius: 10px;
  background: white;
}

.section-1 .section-1-items img{
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  z-index: -1;
}

.section-1 .section-1-items .item-details{
  position: absolute;
  bottom: 2px;
  align-items: center;
  border: 1px solid grey;
  border-radius: 0 0 10px 10px;
  background-color: white;
  width: 100%;
  z-index: 2;
}

                                        /* Section-2 */

.section-2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1080px;
  margin: 20px auto 80px auto;
}

.section-2-container{
  position: relative;
}

.one{
  position: absolute;
  top: 310px;
  left: 18px;
}

.two{
  position: absolute;
  top: 304px;
  left: 310px;
  color: white;
}

.three{
  position: absolute;
  top: 304px;
  left: 580px;
  color: white;
}

.four{
  position: absolute;
  top: 304px;
  left: 840px;
  color: white;
}

.section-2-content{
position: relative;
display: flex;
}

.section-2-content img{
  width: 240px;
  margin: 10px 15px;
  border-radius: 5%;
}

.section-2-heading{
  font-size: 1.5rem;
  font-weight: lighter;
}

.section-2-description{
  font-size: 18px;
  font-weight: lighter;
}
                                        /* SECTION-3 */

.section-3{
  width: 1080px;
  margin: 0 auto;
  margin-bottom: 4rem;.
}

.section-3-heading{
  font-size: 1.5rem;
  font-weight: 200px;
  line-height: 1.2;
}

.section-3 .section-3-container .section-3-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-3 .section-3-container .section-3-items .section-3-item{
  width: 100%;
  max-width: 27%;
  margin-bottom: 20px;
  border: 2px solid #F7F7F7;
  border-radius: 10px;
  box-shadow: 0 1px 3px ;
  padding: 0 20px;
}

                           /* Section-4 */
.section-4{
  background-color: #FCF8E8;
  height: 600px;
}

.section-4-container{
  width: 1080px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4-img img{
  width: 300px;
  margin-right: 80px;
}

.section-4-download img{
  width: 150px;
}

.section-4-content h1{
  font-size: 2.5rem;
  font-weight: lighter;
}

.section-4-content p{
  font-weight: lighter;
  margin-bottom: 20px;
}

.section-4-input-box{
  height: 50px;
  margin-top: 10px;
}

.section-4-input-box input{
  width: 50%;
  height: 80%;
  border-radius: 10px;
}

.section-4-input-box button{
  width: 30%;
  background-color: #F87474;
  height: 90%;
  border-radius: 10px;
}

                               /* section-5 */
.section-5-container{
  width: 70%;
  margin: 0 auto;
}

.section-5-heading{
  font-size: 1.5rem;
  font-weight: lighter;
}

.section-5-content{
  margin: 5px auto 10px auto;
}

.section-5 .section-5-container .section-5-content p{
  background-color: whitesmoke;
  margin: 20px auto 40px auto;
  border-radius: 10px;
  padding: 20px 40px;
  font-size: 19px;
  font-weight: lighter;
}

                                       /* Section-6 */

.section-6{
  height: 500px;
  background-color: whitesmoke;
}

.section-6-heading{
  width: 78%;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 30px;
}

.section-6-links{
  display: flex;
  margin-left: 100px;
}

.section-6-links-container{
  margin: 30px 10px 0 70px;
}

.section-6-links-container h3{
  font-size: 18px;
  font-weight: lighter;
  line-height: 0.5;
}

.section-6-links-contaainer p{
  font-size: 10px;
  font-weight: lighter;
}
